body{
  font-size: 25px;
  background-color: #555;
  font-family:'Times New Roman', Times, serif;
}

nav {
  background-color: transparent;
  color: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-bottom: 2px solid crimson;
}

.logo {
  display: block;
  color: #333;
  background-color: crimson;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px 20px;
  padding-left: 30%;
  padding-right: 30%;
  width: 100%;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}
.logo:hover {
  color: white;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60px;
}

.nav li {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li:first-child {
  border-left: none;
}

.nav li:last-child {
  border-right: none;
}

.nav a {
  color: crimson;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  transition: background 0.5s, color 0.5s;
}

.nav a:hover {
  background: #222;
  color: white;
  transition: 0.5s;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px 20px;
}
.overlay {
  display: none;
}

.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section{
  scroll-snap-align: start;
scroll-snap-stop: always;
margin-top: 200px;
padding-top: 8.5vh;
  min-height: 90vh;
  max-height: 90vh;
}

h1{
  color: crimson;
  padding-left: 20px;
  font-size: 2em;
}

h2{
  padding-left: 40px;
  font-size: 1.5em;
}

p{
  padding-left: 60px;
}
strong{
  color: crimson;
}
div{
  min-height: 80%;
  max-height: 80%;
}
button{
border: 2px solid crimson;
background: transparent;
width: 50%;
padding: 30px;
color: white;
font-size: 1em;
transition: 0.5s;
font-family:'Times New Roman', Times, serif;
}
button:hover{
background-color: crimson;
}


#Home{
  margin-top: 0px;
  display: flex;
    }
    .Intro{
      background-color: #333;
      color: white;
      padding: 20px;
      width: 40%;
    }
  
    #Myself{
      width: 60%;
      filter: grayscale(100);
    }
#AboutMe{
  margin-top: 200px;
      display: flex;
        }
        .Story{
          background-color: #333;
          color: white;
          width: 60%;
          padding: 20px;
        }
        .School{
          color: #333;
          width: 60%;
          padding: 20px;
        }
          .School p{
              margin-left: 60px;
          }
          #AboutMe{
      display: flex;
        }
        .Story{
          background-color: #333;
          color: white;
          padding: 20px;
        }
        .School{
          color: #222;
          width: 60%;
          padding: 20px;
        }
          .School p{
              margin-left: 60px;
          }
#Programs{
  display: flex;
  }
      .Programing{
          background-image: url(Code.gif);
          background-position: center;
          color: white;
          padding: 20px;
          width: 25%;
          transition: 0.5s;
      }
      .Programing p {
        display: none;
    }
      .Programing:hover{
        background-image: none;
        background-color: crimson;
        width: 40%;
      }
      .Programing:hover p {
        display: block;
    }
      .Web{
          background-image: url(Web.gif);
          background-position: center;
          color: white;
          padding: 20px;
          width: 25%;
          transition: 0.5s;
      }
      .Web p {
        display: none;
    }
      .Web:hover{
        background-image: none;
        background-color: crimson;
        width: 40%;
      }
      .Web:hover p {
        display: block;
    }
      .Edit{
          background-image: url(Audiovis.gif);
          background-position: center;
          color: white;
          padding: 20px;
          width: 25%;
          transition: 0.5s;
          }
          .Edit p {
            display: none;
        }
          .Edit:hover{
            background-image: none;
            background-color: crimson;
            width: 40%;
          }
          .Edit:hover p {
            display: block;
        }
#Works{
display: flex;
      }
      .Audiovizual {
        padding: 20px;
        width: 30%;
        background:url(Audio.gif);
        background-position: center;
        color: white;
        transition: 0.5s;
        position: relative;
    }
    
    .Audiovizual p, .Audiovizual button {
        display: none;
    }
    
    .Audiovizual:hover {
        width: 50%;
    }
    
    .Audiovizual:hover p, .Audiovizual:hover button {
        display: block;
    }
    .Audiovizual button {
      position: absolute; 
      bottom: 30px; 
      left: 50%; 
      transform: translateX(-50%);
  }
      .Websites{
        padding: 20px;
        width: 30%;
        background: url(Cursor.gif);
        background-position: center;
        color: white;
        transition: 0.5s;
        position: relative;
      }
      .Websites p, .Websites button {
        display: none;
    }
        .Websites:hover{
            width: 50%;
        }
        .Websites:hover p, .Websites:hover button {
          display: block;
      }
      .Websites button {
        position: absolute; 
        bottom: 30px; 
        left: 50%; 
        transform: translateX(-50%);
    }
      .Others{
        padding: 30px;
        width: 30%;
        background:url(Certif.gif);
        background-position: center;
        color: white;
        transition: 0.5s;
        position: relative;
      }
      .Others p, .Others button {
        display: none;
    }
    .Others button {
      position: absolute; 
      bottom: 30px; 
      left: 50%; 
      transform: translateX(-50%);
  }
        .Others:hover{
            width: 50%;
        }
        .Others:hover p, .Others:hover button {
          display: block;
      }
      body {
        font-size: 25px;
        background-color: #555;
      }
      
      
      
#Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        padding-top: 9vh;
      min-height: 85vh;
      max-height: 85vh;
      }
      
      #Contact h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      .Socials {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 30px;
      }
      .Socials svg{

        margin-bottom: 10px;
        width: 50px; /* Zvýšení šířky SVG ikon */
        height: 50px; /* Zvýšení výšky SVG ikon */
        fill: white;
      }
      .Socials a {
        text-decoration: none; /* Zruší podtržení textu */
        color: inherit; /* Zachová barvu textu */
    }
      .Socials a div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        color: white;
        padding: 20px;
        transition: background-color 0.3s ease;
      }

      .Socials a#LinkedIn div {
        background-color: #0077B5;
        border: 4px solid #0077B5;
      }
      .Socials a#LinkedIn div:hover {
        background-color: transparent;
      }

      .Socials a#Github div {
        background-color: #333;
        border: 4px solid #333;
      }
      .Socials a#Github div:hover {
        background-color: transparent;
      }

      
      .Socials p {
        margin: 0;
      }
      
      .Other {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        width: 100%;
        padding: 40px;
        color: white;
        margin-top: auto;
      }
      
      .Other div {
        margin-bottom: 10px;
        text-align: center;
      }
      
      .Other h2 {
        margin: 0;
        color: crimson;
        font-weight: bold;
      }
      
      .Other p {
        margin: 20px 0 0;
      }
      @media only screen and (max-width: 900px) {
        body{
          font-size: 20px;
        }
        .nav {
          display: none;
          flex-direction: column;
          width: 100%;
      }
      h1{
        color: crimson;
        padding-left: 10px;
        font-size: 2em;
      }
      
      h2{
        padding-left: 40px;
        font-size: 1.5em;
      }
      
      p{
        padding-left: 30px;
      }
      .logo{
        padding-left: 20%;
        padding-right: 20%;
      }
      .nav li {
          text-align: center;
          width: 100%;
          border-left: none;
          border-right: none;
          border-top: 2px solid crimson;
          border-bottom: 2px solid crimson;
      }
      .hamburger {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {
        opacity: 0;
      }
      
      .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
      }
      .overlay {
        display: none;
        height: 100%; /* Výška na 100% */
        width: 100%; /* Šířka na 100% */
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9); /* Poloprůhledné pozadí */
        overflow-x: hidden; /* Skrytí vodorovného scrollbar */
        overflow-y: hidden; /* Skrytí svislého scrollbar */
        transition: 0.5s;
        z-index: 1000;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 30px;
        font-family: 'Spectral', serif;
        color: #fff;
        display: block;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #818181;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
        section{
          scroll-snap-align: start;
        scroll-snap-stop: always;
        padding-top: 8.5vh;
          min-height: 85vh;
          max-height: 85vh;
          height: 40vh;
        }
#Home {
          margin-top: 0px;
          display: block;
          align-items: center; /* Zarovnání na střed */
          position: relative; /* Přidáno pro kontext pro absolutní pozicování */
      }
      
      #Myself {
          justify-self: center;
          width: 100%;
          height: 45%;
          filter: grayscale(100);
          position: relative; /* Relativní pozicování */
          z-index: 2; /* Vyšší z-index než .Intro */
      }
      
      .Intro {
          background-color: #333;
          color: white;
          width: 100%;
          bottom: 0vh;
          padding: 0px;
          padding-top: 20px;
          padding-bottom: 0px;
          position: relative; /* Aby se mohla uplatnit pozice .Intro */
          z-index: 1; /* Nastavení z-indexu */
      }
#AboutMe{
              justify-content: center;

                }
                .Story{
                  background-color: #333;
                  color: white;
                  width: 100%;
                  padding: 0px;
                  padding-bottom: 100px;
                  height: 200%;
                }
                
                .School{
                  color: #333;
                  width: 50%;
                  padding: 0px;
                  padding-top: 0px;
                }
                  .School p{
                      margin-left: 15px;
                  }
#Programs{               
  display: grid;
                    }
                        .Programing{
                            background-image: url(Code.gif);
                            background-position: center;
                            color: white;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 100%;
                        }
                        .Programing p {
                          display: none;
                      }
                        .Programing:hover{
                          background-image: none;
                          background-color: crimson;
                          width: 100%;
                        }
                        .Programing:hover p {
                          display: block;
                      }
                        .Web{
                            background-image: url(Web.gif);
                            background-position: center;
                            color: white;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 100%;
                        }
                        .Web p {
                          display: none;
                      }
                        .Web:hover{
                          background-image: none;
                          background-color: crimson;
                          width: 100%;
                        }
                        .Web:hover p {
                          display: block;
                      }
                        .Edit{
                            background-image: url(Audiovis.gif);
                            background-position: center;
                            color: white;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 100%;
                            }
                            .Edit p {
                              display: none;
                          }
                            .Edit:hover{
                              background-image: none;
                              background-color: crimson;
                              width: 100%;
                            }
                            .Edit:hover p {
                              display: block;
                          }
#Works{
                            display: grid;
                                  }
                                  .Audiovizual {
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    width: 100%;
                                    background:url(Audio.gif);
                                    background-position: center;
                                    color: white;
                                    transition: 0.5s;
                                    position: relative;
                                }
                                
                                .Audiovizual p, .Audiovizual button {
                                    display: none;
                                }
                                
                                .Audiovizual:hover {
                                  width: 100%;
                                }
                                
                                .Audiovizual:hover p, .Audiovizual:hover button {
                                    display: block;
                                }
                                .Audiovizual button {
                                  position: absolute; 
                                  bottom: 30px; 
                                  left: 70%;
                                  transform: translateX(-50%);
                              }
                                  .Websites{
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    width: 100%;
                                    background: url(Cursor.gif);
                                    background-position: center;
                                    color: white;
                                    transition: 0.5s;
                                    position: relative;
                                  }
                                  .Websites p, .Websites button {
                                    display: none;
                                }
                                    .Websites:hover{
                                      width: 100%;
                                    }
                                    .Websites:hover p, .Websites:hover button {
                                      display: block;
                                  }
                                  .Websites button {
                                    position: absolute; 
                                    bottom: 30px; 
                                    left: 70%; 
                                    transform: translateX(-50%);
                                }
                                  .Others{
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    width: 100%;
                                    background:url(Certif.gif);
                                    background-position: center;
                                    color: white;
                                    transition: 0.5s;
                                    position: relative;
                                    flex-direction: none;
                                    align-items: none;
                                  }
                                  .Others p, .Others button {
                                    display: none;
                                }
                                .Others button {
                                  position: absolute; 
                                  bottom: 30px; 
                                  left: 70%; 
                                  transform: translateX(-50%);
                              }
                                    .Others:hover{
                                      width: 100%;
                                    }
                                    .Others:hover p, .Others:hover button {
                                      display: block;
                                  }
                                  
#Contact {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding: 40px;
                                    margin-top: 100px;
                                    min-height: 40vh;
                                    max-height: 40vh;
                                  }
                                  
                                  #Contact h1 {
                                    text-align: center;
                                    margin-bottom: 20px;
                                  }
                                  
                                  .Socials {
                                    display: flex;
                                    justify-content: space-around;
                                    width: 100%;
                                    height: 50vh;
                                    margin-bottom: 0px;
                                  }
                                  .Socials svg{
                            
                                    margin-bottom: 10px;
                                    width: 50px; /* Zvýšení šířky SVG ikon */
                                    height: 50px; /* Zvýšení výšky SVG ikon */
                                    fill: white;
                                  }
                                  .Socials a {
                                    text-decoration: none; /* Zruší podtržení textu */
                                    color: inherit; /* Zachová barvu textu */
                                }
                                  .Socials a div {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    width: 20vh;
                                    height: 1vh;
                                    color: white;
                                    padding: 0px;
                                    transition: background-color 0.3s ease;
                                  }
                            
                                  .Socials a#LinkedIn div {
                                    background-color: #0077B5;
                                    border: 4px solid #0077B5;
                                  }
                                  .Socials a#LinkedIn div:hover {
                                    background-color: transparent;
                                  }
                            
                                  .Socials a#Github div {
                                    background-color: #333;
                                    border: 4px solid #333;
                                  }
                                  .Socials a#Github div:hover {
                                    background-color: transparent;
                                  }
                            
                                  
                                  .Socials p {
                                    margin: 0;
                                  }
                                  
                                  .Other {
                                    display: grid;
                                    flex-direction: none;
                                    align-items: none;
                                    background-color: #333;
                                    width: 100%;
                                    padding: 40px;
                                    color: white;
                                    margin-top: none;
                                  }
                                  
                                  .Other div {
                                    margin-bottom: 10px;
                                    text-align: center;
                                  }
                                  
                                  .Other h2 {
                                    margin: 0;
                                    color: crimson;
                                    font-weight: bold;
                                  }
                                  
                                  .Other p {
                                    margin: 20px 0 0;
                                  }
    }